In [2]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv("csv/fruits_vegetables_filtered.csv")

In [60]:
products_types_dict = dict(zip(df["Материал"], df["Вид"]))

In [63]:
len(set(products_types_dict.values()))

161

In [57]:
df = pd.read_csv("csv/count_fruits_types.csv")
np.sum(df["Кол-во"])

28682

In [58]:
df = pd.read_csv("csv/count_main_types.csv")
np.sum(df["Кол-во"])

6598

In [5]:
df = pd.read_excel("csv/Список КСО пилот АнтиФрод.xlsx")

In [9]:
directories_names = ['AF_IMAGES', 'POS60-BO-Y242', 'POS601-BO-B327', 'POS602-BO-B327', 'POS610-BO-2060', 'POS613-BO-2060', 'POS65-BO-Y242', 'POS70-BO-5194', 'POS70-BO-Y242', 'POS71-BO-5194', 'POS71-BO-Y242', 'POS72-BO-5194', 'POS72-BO-Y242', 'POS73-BO-5194', 'POS72-BO-Y242', 'POS73-BO-5194']
[x for x in df["КСО"] if x not in directories_names]

[]

In [34]:
df["Материал"].unique().size

1687

In [64]:
df = pd.read_csv("csv/main_products.csv")

In [66]:
df["Classifier"].unique().size,df["Classifier ID"].unique().size, df["Материал"].unique().size,

(165, 162, 259)

In [158]:
d = {}
print(len(df["Classifier"]), len(df["Classifier ID"]))
for x, y in zip(df["Classifier"], df["Classifier ID"]):
    if np.isnan(y):
        continue
    k = int(y)
    if k in d:
        if d[k] != x:
            print(x, y, d[k])
    else:
        d[k] = x

293 293
NIVEA бритьё 100 мл 147 NIVEA крем 150мл
NIVEA бритьё 200 мл 149 NIVEA крем 200 мл
NIVEA бритьё 100 мл 147 NIVEA крем 150мл
NIVEA дезодорант 150мл 147 NIVEA крем 150мл
ARIEL Гель жидк.авт.капс.15шт 160 Пакет ПЯТЕРОЧКА 65х40см
NIVEA крем 100мл 147 NIVEA крем 150мл

In [156]:
found_inds = [3931836, 2157514, 3157836, 3147882, 39229, 17342, 78005190, 3608163, 53715, 3300573, 22247, 58772, 4113532, 3387522, 4147337, 2160069, 4110633, 3948153, 3926818, 3158299, 2173555, 3215871, 4109505, 3658915, 4055071, 3490518, 3645324, 3368350, 3672506, 3173468, 4046890, 3605249, 3505362, 3490517, 3490515, 3626, 3681277, 4057613, 3977825, 78001656, 26764, 3450510, 78004335, 3670270, 17333, 3483271, 2091079, 3612680, 3215967, 4087692, 58130, 3335498, 4118488, 3468684, 3426468, 3690250, 3667740, 45557, 2155446, 47804, 3631392, 3670271, 3230973, 2046823, 4063188, 3170308, 78004334, 4062968, 18162, 4038642, 3921037, 3385926, 3640459, 4046889, 16615, 3372172, 4075001, 3612778, 2119252, 3335495, 3033907, 3215964, 3656964, 3608140, 1671, 3426717, 32120, 4155150, 78004336, 3923407, 3413519, 4086974, 3453873, 3602960, 3384810, 3408128, 4087690, 3369648, 3954445, 3426714, 3372171, 3426718, 3247323, 3026226, 3368036, 3276160, 3299590, 3421898, 36145, 3456559, 3330267, 69449, 3152415, 85038, 3011966, 65459, 3482562, 3658479, 3013914, 2092382, 3959469, 3491232, 3148662, 4017564, 3173397, 3009353, 3331436, 3303305, 3413267, 4026294, 3246199, 3001429, 2152581, 3456703, 72110, 3353040, 4118001, 3928172, 3902643, 2087270, 4053537, 4053803, 3608921, 3680750, 3490519, 3907200, 3958549, 21473, 4074334, 25448, 22245, 3650391, 24705, 3488763, 2141879, 3291822, 2143227, 2143238, 3464124, 3464123, 4041216, 3443259, 3086387, 4066098, 3961640, 3332434, 3685054, 3654717, 4075005, 70479, 2153521, 32595, 5299, 3412336, 3381541, 3387455, 4075424, 3958355, 4157248, 3428594, 22924, 4025409, 64681, 4086976, 3930255, 3985079, 22248, 11734, 3427180, 3915823, 27062, 3465904, 3652398, 22246, 3441557, 4104566]
print(len(found_inds))
found_classes = [df.loc[df["Материал"] == ind]["Classifier"].iloc[0] for ind in found_inds]

196

In [157]:
np.unique(found_classes).size

124

In [4]:
df.loc[df["Материал"] == 3300573]

,Материал,Товар,Категор. управление (НА),Classifier,Classifier ID,Class 1,Class 2
270,3300573,Пакет ПЯТЕРОЧКА 65х40см,Сопутствующие товары,Пакет ПЯТЕРОЧКА 65х40см,160,NaN,NaN

In [5]:
df.loc[df["Материал"] == 3931836]

,Материал,Товар,Категор. управление (НА),Classifier,Classifier ID,Class 1,Class 2
178,3931836,"ADREN.RUSH Напиток тон.б/алк.газ.0,449л",Напитки,"Напиток ADREN.RUSH 0,449л большой",118,Энергетический напиток,NaN
247,3931836,"ADREN.RUSH Напиток тон.б/алк.газ.0,449л","Соки, воды, пиво","Напиток ADREN.RUSH 0,449л большой",118,Энергетический напиток,NaN

In [18]:
df["Материал"].unique().size

267